@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="jumbotron">
        <h1>Willkommen</h1>
        <p class="lead">Dies ist die Internetpräsenz von AlarmWorkflow. Hier können Sie sich den Alarmmonitor aufrufen oder die vergangenen Alarme anzeigen lassen.</p>
        
        <p>
            @Html.ActionLink("Zur Alarmanzeige wechseln", "Index", "Display/Alarm", new { }, new { @class = "btn btn-lg btn-success" })
            @Html.ActionLink("Alarme ansehen", "Index", "Reporting/Alarms", new { }, new { @class = "btn btn-lg btn-success" })
        </p>
    </div>
}
